#salsaContainer #salsaWrapper #salsaForm{
  .sli-content-pane{
    @extend %salsa-background;
  }

  .sli-label{
    @extend %salsa-label;
  }

  .sli-input{
    @extend %salsa-input;
  }
}


//Extends
%salsa-background{
  background-color: white !important;
}
%salsa-label{
  border: 2px solid red;
}
%salsa-input{
  margin-top: 20px;
  border-radius: 100px !important;
}

